.character-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 250px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

/* Estilo para la imagen del personaje */
.character-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilo para el nombre del personaje */
.character-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

/* Estilo para los detalles del personaje */
.character-details {
    font-size: 0.9em;
}

.hidden {
    display: none;
}